@model IEnumerable<AgileFood.Models.PessoaTipos>

@{
    ViewBag.Title = "Cadastrar Tipo Pessoa";
}

<br />

<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Descrição")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PessoaTiposId }, new { @class = "btn btn-warning btn-sm" }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PessoaTiposId }, new { @class = "btn btn-info btn-sm" }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.PessoaTiposId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
