@model AgileFood.Models.PessoaJuridicas

@{
    ViewBag.Title = "Deletar Pessoa Juridica";
}

<br />

<h3>Deseja deletar a Pessoa: @Html.DisplayName(Model.Nomes)?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tipo Pessoa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaTipo.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayName("Endereço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PessoaJuridicasId)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.PessoaJuridicasId)
        </dd>*@

        <dt>
            @Html.DisplayName("Nome Fantasia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nomes)
        </dd>

        <dt>
            @Html.DisplayName("Razão Social")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayName("Inscrição Estadual")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscricaoEstadual)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger btn-sm" /> |
            @Html.ActionLink("Voltar lista", "Index", null, new { @class = "btn btn-success btn-sm" })
        </div>
    }
</div>
