@model AgileFood.Models.Funcionarios

@{
    ViewBag.Title = "Deletar Funcionário";
}

<br />

<h3>Deseja deletar o Funcionário: @Html.DisplayName(Model.Pessoa.Nomes)?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nomes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger btn-sm" /> |
            @Html.ActionLink("Voltar lista", "Index", null, new { @class="btn btn-success btn-sm"})
        </div>
    }
</div>
